<%= partial("upload_csv_form") -%>
<div style="float:left;"><h1 class="title">Your jobs:</h1></div>

<% @jobs.each do |job| -%>
  <div class="jobsoverview">
    <div style="float:right"><%= link_to 'X', url(:delete_job, job) -%></div>
    <strong>Job:</strong><%= link_to job.csv_file_name, url(:job_images, job) -%><br/>
    <br />
    <% unless job.all_images_exist? -%>
      <strong>Missing Images: </strong> <a href="#" onClick="$('#missing_images_<%= job.id-%>').toggle(400);return 
false;">Show / Hide</a>
    <div id="missing_images_<%= job.id -%>" style="display:none; text-align:left; padding-left:10px; color:#FF0000;">
      <% job.missing_images.each do |image| -%>
        <%= image -%><br/>
      <% end -%>
      <% job.missing_reference_images.each do |image| -%>
        <%= image -%><br/>
      <% end -%>
    </div>
    <br /> 
    <strong>Upload Missing Images:</strong>
    <%= partial("upload_missing_images_form", :job => job) -%>
    <% end -%>
  </div>
<% end -%>
