<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>NFI - Hitlist</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <% require_css "style" -%>
    <%= include_required_css -%>
    <%= include_required_js -%>
  </head>
  <body class="bodystyle">
    <% unless session.user.nil? -%>
      <div style="text-align: right">Welcome back, <b><%=session.user.login-%>!</b>(<%= link_to "logout", url(:logout)-%>)</div>
    <% end -%>
    <%= message[:notice] %>
    <%#= message[:error] %>
    <%= catch_content :for_layout %>
  </body>
</html>
