<p>Results for query:</p>

<% @query.images.each do |image| -%>
  <img src="<%= File.join(@query.relative_images_path, image) -%>" alt="<%=image.gsub(/\..3..4$/,'')-%>" width="40px" height="40px"/> matches <img src="<%= File.join(@query.relative_images_path, @query.matches[image.to_sym][:image_filename].to_s) -%>" alt="<%= @query.matches[image.to_sym][:image_filename] -%>" width="40px" height="40px"/><br/>
  <i>Matched with accuracy of <%= @query.matches[image.to_sym][:accuracy] -%>.</i><br>
<% end -%>

<% unless @query.all_images_exist? -%>
  <p>Some compared images are missing! Please upload the following files. (Supported formats: jpeg, jpg, png, zip, rar, tar)</p>
  <% @query.missing_images.each do |image| -%>
    <%= File.join(@query.relative_images_path, image) -%><br/>
  <% end -%>
  <% @query.missing_reference_images.each do |image| -%>
    <%= File.join(@query.relative_images_path, image) -%><br/>
  <% end -%>
.. make a form here ..
<% end -%>

