  <div class="step2header">
    <div style="float:right"><img src="/images/minus.gif" alt="minus" width="10" height="10" /></div>
    Step 2: Results
  </div>
  <div class="step2mainstyle">
    <!-- Row 1 -->
    <div>
      <div class="step3header">Step 3: Select compare Image </div>
      <div class="imageresultsheader">Step 4: Images that match the compare image </div><br />
    </div>
      <!-- Row 2 -->
    <div>
      <div class="step3mainstyle">
        <%= form :action => url(:controller => :browse, :action => :select_image) do %>
          <%= label "Filename" %>
          <%= select :selected_image, :collection => @job.images%>
          <%= submit "Select" %>
        <% end =%>
      <table align="center" class="imagecontainer" <% unless @selected_image -%>style="display:none;"<% end -%>>
          <tr>
            <td><img src="<%= relative_images_path(@selected_image) -%>" alt="<%= @selected_image.gsub(/\..3..4$/,'') -%>" width="150px" /></td>
          </tr>
          <tr>
            <td>Filename:<em><%= friendly_name(@selected_image) -%></em></td>
          </tr>
        </table>
      </div>
      <div class="imageresultsmain">
        <table align="center">
          <% index = 0 -%>
          <% @job.matches[@selected_image.to_sym].each do |match| -%>
              <% if index >= images_per_row || index == 0 -%>
                <tr>
              <% end -%>
              <td class="imagecontainer"><img src="<%= relative_images_path(friendly_name(match.image_filename)) -%>" alt="<%=friendly_name(match.image_filename).gsub(/\..3..4$/,'') -%>" width="150px"/><br />Filename: <em><%= friendly_name(match.image_filename) -%></em><br/>Match: <%= match.instance_variable_get("@#{cleanup_filename(@selected_image)}") -%></td>
              <% index += 1 -%>
              <% if index >= images_per_row || index == 0 -%>
                <tr>
              <% index = 0 -%>
              <% end -%>
            <% end -%>
        </table>
      </div>
    </div>
  </div>
