<% require_css "custom_select" %>
<% require_js "jquery", "jquery.customselect", "form_functions" %>
<% require_js "jquery.inspect" %>
  <div class="step2header">
    <div style="float:right"><img src="/images/minus.gif" alt="minus" width="10" height="10" /></div>
    Results
  </div>
  <div class="step2mainstyle">
    <div>
      <div class="step3header">Select compare Image </div>
      <div class="imageresultsheader">Images that match the compare image </div><br />
    </div>
    <div>
      <div class="step3mainstyle">
        <%= form_for @image, :action => url(:job_image, @job, strip_file_extension(@job.selected_image)), :method => 'get' do %>
          
          <%= label "Filename:" %>
          <% select :selected_image, :collection => @job.images.map {|image| [@job.relative_path_to(image), image]}, :selected => @job.relative_path_to(@job.selected_image) %>
          <% select :selected_image, :collection => @job.images %>
          <%= select :selected_image, :collection => @job.images.map {|image| [strip_file_extension(image)]}, :selected => strip_file_extension(@job.selected_image) %>
          <%= submit "Select" %>
        <% end =%>
      Amount of images to show:<a href="?matches=5">5</a> / <a href="?matches=10">10</a> / <a href="?matches=20">20</a> / <a href="?matches=50">50</a> / <a 
href="?matches=100">100</a><BR>
      <table align="center" class="imagecontainer" <% unless @job.selected_image -%>style="display:none;"<% end -%>>
          <tr>
            <td><img src="<%= @job.relative_path_to_selected_image -%>" alt="<%= strip_file_extension(@job.selected_image)-%>" width="200px" /></td>
          </tr>
          <tr>
            <td>
              Filename:<em><%= @job.selected_image -%></em>
            </td>
          </tr>
        </table>
      </div>
      <div class="imageresultsmain">
        <table align="center">
        <% index = 0 -%>
        <% @job.matches[@job.selected_image.to_sym].each do |match| -%>
          <% if index == 0 -%>
          <tr>
          <% end -%>
            <td class="imagecontainer">
              <img src="<%= @job.relative_path_to_image_for_match(match) -%>" alt="<%= strip_file_extension(@job.image_filename_for_match(match))-%>" width="150px"/><br/>
              Filename: <em><%= @job.image_filename_for_match(match) -%></em><br/>
              Match: <%= @job.match_accuracy(match) -%>
            </td>
          <% index += 1 -%>
          <% if index >= images_per_row -%>
          </tr>
          <% index = 0 -%>
          <% end -%>
        <% end -%>
        </table>
      </div>
    </div>
  </div>
